<!--
  ~ iparapheur Web
  ~ Copyright (C) 2019-2023 Libriciel SCOP
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU Affero General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU Affero General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License
  ~ along with this program. If not, see <http://www.gnu.org/licenses/>.
  -->

<div>

  <div class="bg-white border shadow-sm">
    <div class="d-flex flex-row border-bottom py-1 font-weight-bold custom-row">
      <div class="drag-handle-column"></div>
      <div class="large-column" [innerText]="messages.TYPE"></div>
      <div class="tiny-column large-tooltip">
        {{ messages.PAGE }}
        <ng-template #pageTooltip>
          <div
            class="text-left px-2"
            [innerHtml]="messages.PAGE_TOOLTIP">
          </div>
        </ng-template>
        <fa-icon
          class="pl-1"
          [icon]="commonIcons.TOOLTIP_ICON"
          [ngbTooltip]="pageTooltip"
          [openDelay]="300">
        </fa-icon>
      </div>
      <div class="tiny-column" [innerText]="messages.X"></div>
      <div class="tiny-column" [innerText]="messages.Y"></div>
      <div class="flex-grow-1" [innerText]="messages.VALUE"></div>
      <div class="tiny-column" [innerText]="messages.FONT_SIZE"></div>
      <div class="tiny-column" [innerText]="messages.COLOR"></div>
      <div class="tiny-column">
        {{ messages.SIGNATURE }}
        <fa-icon
          class="pl-1"
          [icon]="commonIcons.TOOLTIP_ICON"
          [ngbTooltip]="messages.SIGNATURE_TOOLTIP"
          openDelay="300">
        </fa-icon>
      </div>
      <div class="tiny-column" [innerText]="commonMessages.ACTION"></div>
    </div>
    <div
      class="custom-table-container restricted-values-container-boundary"
      (cdkDropListDropped)="onDrop($event)"
      cdkDropList>
      <div
        *ngFor="let stamp of layer.stampList"
        class="d-flex flex-row custom-row bg-white"
        cdkDragLockAxis="y"
        cdkDragBoundary=".restricted-values-container-boundary"
        cdkDrag>
        <div class="drag-handle-column">
          <fa-icon
            class="text-secondary p-2"
            [icon]="gripHorizontalIcon"
            cdkDragHandle>
          </fa-icon>
        </div>
        <div class="large-column">
          <ng-select
            [items]="stampTypeEnum | keyvalue"
            bindValue="value"
            [disabled]="stamp.id !== null"
            [(ngModel)]="stamp.type"
            [searchable]="false"
            [clearable]="false"
            [multiple]="false">

            <ng-template
                let-item="item"
                ng-option-tmp>
              <fa-icon
                [icon]="item.value | stampTypeIcon"
                [fixedWidth]="true">
              </fa-icon>
              <span class="ml-2" [innerText]="item.value | stampTypeName"></span>
            </ng-template>

            <ng-template
                let-item="item"
                ng-label-tmp>
              <span class="ng-value-label">
                <fa-icon
                  [icon]="item.value | stampTypeIcon"
                  [fixedWidth]="true">
                </fa-icon>
               <span class="ml-2" [innerText]="item.value | stampTypeName"></span>
              </span>
            </ng-template>
          </ng-select>
        </div>
        <div class="tiny-column">
          <input
            type="number"
            class="form-control form-control-sm"
            min="-1"
            [(ngModel)]="stamp.page">
        </div>
        <div class="tiny-column">
          <input
            type="number"
            class="form-control form-control-sm"
            min="0"
            [(ngModel)]="stamp.x">
        </div>
        <div class="tiny-column">
          <input
            type="number"
            class="form-control form-control-sm"
            min="0"
            [(ngModel)]="stamp.y">
        </div>
        <div
          *ngIf="stamp.type === stampTypeEnum.Signature"
          class="flex-grow-1">
        </div>
        <div
          *ngIf="stamp.type === stampTypeEnum.Image"
          class="flex-grow-1">
          <input
            *ngIf="stamp.id === null"
            [disabled]="isUploadingFile"
            type="file"
            accept="image/jpeg,image/png"
            class="form-control-file"
            (change)="handleFileInput(stamp, $event)">
          <input
            *ngIf="stamp.id !== null"
            [(ngModel)]="stamp.value"
            type="text"
            class="form-control"
            disabled>
        </div>
        <div
          class="flex-grow-1"
          *ngIf="(stamp.type !== stampTypeEnum.Image) && (stamp.type !== stampTypeEnum.Signature)">
          <ng-select
            *ngIf="stamp.type === stampTypeEnum.Metadata"
            [notFoundText]="commonMessages.NOT_FOUND"
            [items]="metadataList"
            bindValue="id"
            [(ngModel)]="stamp.value"
            [searchable]="true"
            [clearable]="false"
            [multiple]="false">

            <ng-template let-item="item" ng-option-tmp>
              <span [innerText]="item | metadataName | namePipe"></span>
            </ng-template>

            <ng-template let-item="item" ng-label-tmp>
              <span [innerText]="item | metadataName | namePipe"></span>
            </ng-template>
          </ng-select>

          <input
            *ngIf="stamp.type !== stampTypeEnum.Metadata"
            type="text"
            class="form-control form-control-sm"
            [(ngModel)]="stamp.value">
        </div>
        <div
          class="tiny-column"
          *ngIf="(stamp.type !== stampTypeEnum.Image) && (stamp.type !== stampTypeEnum.Signature)">
          <input
            type="number"
            class="form-control form-control-sm"
            min="0"
            [(ngModel)]="stamp.fontSize">
        </div>
        <div
          class="tiny-column"
          *ngIf="(stamp.type !== stampTypeEnum.Image) && (stamp.type !== stampTypeEnum.Signature)">
          <ng-select
            [items]="stampTextColorEnum | keyvalue"
            bindValue="value"
            [(ngModel)]="stamp.textColor"
            [searchable]="false"
            [clearable]="false"
            [multiple]="false">

            <ng-template let-item="item" ng-option-tmp>
              <fa-icon
                [icon]="squareIcon"
                [fixedWidth]="true"
                style="{{ (item.value == stampTextColorEnum.Red) ? 'color:red' : 'color:black'}}">
              </fa-icon>
            </ng-template>

            <ng-template let-item="item" ng-label-tmp>
            <span class="ng-value-label">
              <fa-icon
                [icon]="squareIcon"
                [fixedWidth]="true"
                style="{{ (item.value == stampTextColorEnum.Red) ? 'color:red' : 'color:black'}}">
              </fa-icon>
            </span>
            </ng-template>
          </ng-select>
        </div>
        <div class="tiny-column">
          <input
            *ngIf="stamp.type === stampTypeEnum.Signature"
            type="number"
            class="form-control form-control-sm"
            min="-1"
            [(ngModel)]="stamp.signatureRank">

          <input
            *ngIf="stamp.type !== stampTypeEnum.Signature"
            type="checkbox"
            [(ngModel)]="stamp.afterSignature">
        </div>
        <div class="tiny-column">
          <button
            type="button"
            class="btn btn-sm btn-outline-danger"
            [title]="commonMessages.DELETE"
            (click)="onDeleteButtonClicked(stamp)">
            <fa-icon
              [fixedWidth]="true"
              [icon]="commonIcons.DELETE_ICON">
            </fa-icon>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="flex-grow-1 d-flex flex-row-reverse">
    <button
      type="button"
      class="mt-3 btn btn-sm btn-primary"
      [disabled]="isUploadingFile"
      (click)="addNewStamp()">
      <fa-icon [icon]="commonIcons.ADD_ICON"></fa-icon>
      {{ messages.ADD_ELEMENT }}
    </button>
  </div>

</div>
