<!--
  ~ iparapheur Web
  ~ Copyright (C) 2019-2023 Libriciel SCOP
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU Affero General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU Affero General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License
  ~ along with this program. If not, see <http://www.gnu.org/licenses/>.
  -->

<div class="bg-light h-100 p-4">

  <!-- Header -->

  <app-breadcrumbs></app-breadcrumbs>

  <div class="d-flex pb-1">

    <div class="form-inline">
      <div class="form-group ls-form">
        <label
          for="type"
          [innerText]="commonMessages.TENANT_LABEL">
        </label>
        <select
          id="type"
          class="form-control selectpicker mx-2"
          name="type"
          [(ngModel)]="selectedTenant"
          [compareWith]="compareByIdFn"
          (ngModelChange)="refreshFolderList()"
          required>
          <option
            *ngFor="let tenant of tenantList"
            [ngValue]="tenant"
            [innerText]="tenant.name | namePipe">
          </option>
        </select>
      </div>
    </div>

    <span class="flex-grow-1"></span>
    <span class="p-1 px-2" [innerText]="commonMessages.PAGINATION_SIZE_LABEL"></span>

    <ngb-pagination
      size="sm"
      [collectionSize]="pageSizes.length"
      [(page)]="pageSizeIndex"
      [pageSize]="1"
      [rotate]="false"
      [boundaryLinks]="false"
      [directionLinks]="false"
      (pageChange)="refreshFolderList()">
      <ng-template
        ngbPaginationNumber
        let-p>
        {{ getPageSize(p) }}
      </ng-template>
    </ngb-pagination>

  </div>

  <!-- List -->

  <table
    *ngIf="userPreferences"
    class="bg-white table table-striped table-borderless border shadow-sm table-text-overflow">
    <thead class="border">
    <tr>
      <th
        *ngFor="let column of userPreferences.archiveViewColumnList"
        (click)="onRowOrderClicked(column)"
        [ngClass]="{
          'col-id-fixed-size' : column === columnsEnum.Id,
          'col-buttons-fixed-size' : column === columnsEnum.Actions,
          'col-3' : column === columnsEnum.Name || column === columnsEnum.TypeSubtype || column === columnsEnum.OriginDesk,
          'col-date-fixed-size' : column === columnsEnum.CreationDate,
          'pointer' : mapColumnToSortBy(column) !== null
        }">
        <fa-icon
          *ngIf="mapColumnToSortBy(column) !== null"
          class="{{ sortBy === mapColumnToSortBy(column) ? 'visible' : 'invisible' }}"
          [icon]="asc ? caretUp : caretDown"
          [fixedWidth]="true">
        </fa-icon>
        {{ column | columnNamePipe }}
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let folder of folderList">
      <td
        *ngFor="let column of userPreferences.archiveViewColumnList"
        [ngClass]="{ 'sortable-row': mapColumnToSortBy(column) !== null }">
        <div *ngIf="column === columnsEnum.Id">
          <span
            class="text-monospace text-size-small"
            [innerText]="folder.id | namePipe">
          </span>
        </div>
        <div
          *ngIf="column === columnsEnum.Name"
          [innerText]="folder.name | namePipe">
        </div>
        <div
          *ngIf="column === columnsEnum.TypeSubtype"
          [innerText]="folder.type?.name + ' / ' + folder.subtype?.name">
        </div>
        <div
          *ngIf="column === columnsEnum.CreationDate"
          [innerText]="folder.draftCreationDate | date: 'shortDate'">
        </div>
        <div
          *ngIf="column === columnsEnum.OriginDesk"
          [innerText]="folder.originDesk?.name">
        </div>
        <div *ngIf="column === columnsEnum.Actions" class="d-flex">
          <button
            type="button"
            class="btn btn-sm btn-outline-primary"
            [disabled]="!currentUserAdmin"
            [ngbTooltip]="commonMessages.DOWNLOAD"
            (click)="onDownloadButtonClicked(folder)">
            <fa-icon [icon]="downloadIcon"></fa-icon>
          </button>
          <div
            class="ml-2"
            [ngbTooltip]="currentUserAdmin ? commonMessages.DELETE : commonMessages.ADMIN_RIGHTS_REQUIRED_FOR_ACTION">
            <button
              type="button"
              class="btn btn-sm btn-outline-danger"
              [disabled]="!currentUserAdmin"
              (click)="onDeleteButtonClicked(folder)">
              <fa-icon [icon]="commonIcons.DELETE_ICON"></fa-icon>
            </button>
          </div>
        </div>
      </td>
    </tr>
    </tbody>
    <tbody
      app-list-loader
      [data]="folderList"
      [loading]="loading"
      [colspan]="colspan"
      [emptyMessage]="commonMessages.EMPTY_FOLDER_LIST">
    </tbody>
  </table>

  <ngb-pagination
    class="d-flex justify-content-end"
    size="sm"
    [collectionSize]="total"
    [pageSize]="getPageSize(pageSizeIndex)"
    [(page)]="page"
    [maxSize]="5"
    [rotate]="true"
    [boundaryLinks]="false"
    [directionLinks]="false"
    (pageChange)="refreshFolderList()">
  </ngb-pagination>

</div>

