<!--
  ~ iparapheur Web
  ~ Copyright (C) 2019-2023 Libriciel SCOP
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU Affero General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU Affero General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License
  ~ along with this program. If not, see <http://www.gnu.org/licenses/>.
  -->

<div>

  <div class="modal-header">
    <h4
      class="modal-title"
      id="modal-basic-title"
      [innerText]="messages.ADD_SEAL_CERTIFICATE_TITLE">
    </h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="activeModal.dismiss(commonMessages.ACTION_RESULT_CANCEL)">
      <fa-icon [icon]="commonIcons.CLOSE_ICON"></fa-icon>
    </button>
  </div>

  <div class="modal-body">

    <form class="mt-4 mx-3 ls-form">

      <div class="form-group">
        <label
          for="fileInput"
          [innerText]="messages.FILE">
        </label>
        <input
          id="fileInput"
          name="fileIn"
          class="form-control file-selector"
          type="file"
          (change)="onFileChanged($event)"
          required>
      </div>

      <div class="form-group">
        <label
          for="passwordInput"
          [innerText]="commonMessages.PASSWORD">
        </label>
        <input
          id="passwordInput"
          name="passwordInput"
          [(ngModel)]="password"
          type="password"
          class="form-control"
          required
          minlength="2">
      </div>

    </form>

  </div>

  <div class="modal-footer">
    <button
      ls-button-cancel
      (click)="activeModal.dismiss(commonMessages.ACTION_RESULT_CANCEL)">
    </button>
    <button
      ls-button-save
      (click)="onSaveButtonClicked()"
      [processing]="isProcessing">
    </button>
  </div>

</div>
