<!--
  ~ iparapheur Web
  ~ Copyright (C) 2019-2023 Libriciel SCOP
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU Affero General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU Affero General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License
  ~ along with this program. If not, see <http://www.gnu.org/licenses/>.
  -->

<div class="my-4">

  <form
    [formGroup]="generalForm"
    class="ls-form"
    autocomplete="on">

    <div class="form-group">

      <label
        for="editInfoUserNameInput"
        [ngClass]="{'required': creationMode}"
        [innerText]="commonMessages.USERNAME">
      </label>

      <input
        id="editInfoUserNameInput"
        name="usernameInput"
        class="form-control"
        type="text"
        formControlName="userNameControl"
        [attr.disabled]="!creationMode || modifiedUser.isLdapSynchronized ? '' : null"
        [(ngModel)]="modifiedUser.userName"
        [required]="creationMode"
        [autofocus]="creationMode">
    </div>

    <div class="form-group">

      <label
        for="editInfoLastNameInput"
        class="required"
        [innerText]="commonMessages.LAST_NAME">
      </label>

      <input
        id="editInfoLastNameInput"
        name="lastName"
        class="form-control"
        type="text"
        formControlName="lastNameControl"
        [attr.disabled]="modifiedUser.isLdapSynchronized ? '' : null"
        [(ngModel)]="modifiedUser.lastName"
        [autofocus]="!creationMode"
        required>

    </div>

    <div class="form-group">

      <label
        for="editInfoFirstNameInput"
        class="required"
        [innerText]="commonMessages.FIRST_NAME">
      </label>

      <input
        id="editInfoFirstNameInput"
        name="firstName"
        class="form-control"
        type="text"
        formControlName="firstNameControl"
        [attr.disabled]="modifiedUser.isLdapSynchronized ? '' : null"
        [(ngModel)]="modifiedUser.firstName"
        required>

    </div>


    <div class="form-group">

      <label
        for="editInfoEmailInput"
        class="required"
        [innerText]="commonMessages.MAIL">
      </label>

      <input
        id="editInfoEmailInput"
        name="editInfoEmailInput"
        class="form-control"
        type="email"
        autocomplete="on"
        formControlName="mailControl"
        [attr.disabled]="modifiedUser.isLdapSynchronized ? '' : null"
        [(ngModel)]="modifiedUser.email"
        required>

      <div
        *ngIf="generalForm.get('mailControl').errors?.email"
        class="mt-1 text-danger"
        [innerText]="messages.BAD_MAIL_FORMAT">
      </div>

    </div>

    <div class="form-group">

      <label for="editInfoAdditionalInput">
        <span [innerText]="messages.COMPLEMENTARY_FIELD"></span>
        <fa-icon
          class="ml-1"
          [icon]="infoIcon"
          [ngbTooltip]="messages.COMPLEMENTARY_FIELD_TOOLTIP">
        </fa-icon>
      </label>

      <textarea
        id="editInfoAdditionalInput"
        name="editInfoAdditionalInput"
        class="form-control"
        rows="3"
        [(ngModel)]="modifiedUser.complementaryField"
        [ngModelOptions]="{standalone: true}">
      </textarea>

    </div>

  </form>

</div>
