/*!
 * iparapheur Web
 * Copyright (C) 2019-2023 Libriciel SCOP
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program. If not, see <http://www.gnu.org/licenses/>.
 */

@import "src/styles/common_colors";

:host {
  //width: 500px;
  //height: 300px;
  //padding: 2em;

  font-size: 1rem;
  font-family: 'Ubuntu', 'Arial', sans-serif;

  .step-type-list {

    .selectable-step-type {
      color: #a9a9a9;

      &:hover {
        color: #373737;
        cursor: pointer;
      }
    }

    .selected-step-type {
      color: $primary-color;
    }
  }

  .step-desk-list {

  }

  .form-category {
    margin-top: 1em;
    margin-bottom: 0.5em;
  }

}
