<!--
  ~ iparapheur Web
  ~ Copyright (C) 2019-2023 Libriciel SCOP
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU Affero General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU Affero General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License
  ~ along with this program. If not, see <http://www.gnu.org/licenses/>.
  -->

<div class="ls-form step-editor-content">

  <div
    *ngIf="!lastStep"
    class="step-type-list form-category">
    <label [innerText]="messages.STEP_TYPE_LABEL"></label>
    <div
      *ngFor="let stepType of availableStepTypes"
      class="selectable-step-type"
      [ngClass]="{ 'selected-step-type': isSelectedType(stepType) }"
      (click)="selectType(stepType)">
      <fa-icon
        class="mr-1"
        [icon]="stepType | stepToAction | actionIcon"
        [fixedWidth]="true">
      </fa-icon>
      <span [innerText]="stepType | stepToAction | actionName"></span>
    </div>
  </div>

  <div
    *ngIf="!lastStep"
    class="form-category">
    <label [innerText]="messages.VALIDATION_MODE_LABEL"></label>
    <div
      class="d-flex flex-lg-row ls-toggle-btn-group"
      [(ngModel)]="updatedStepModel.validationMode"
      (ngModelChange)="validationModeChanged($event)"
      ngbRadioGroup>
      <label
        *ngFor="let mode of enumToArrayFn(validationModesEnum)"
        class="btn ls-btn-radio btn-outline-primary mr-2"
        ngbButtonLabel>
        <input
          [value]="validationModesEnum[mode]"
          ngbButton
          type="radio"
          [disabled]="isModeDisabledForStepType(validationModesEnum[mode], updatedStepModel.type)">
        <fa-icon [icon]="mode | validationModeIcon"></fa-icon>
        {{ mode | validationModeName: true }}
      </label>
    </div>
  </div>

  <div class="step-desk-list form-category">
    <label
      for="validatorDeskList"
      [innerText]="messages.DESK_SEARCH_LABEL">
    </label>
    <app-desk-search-input
      id="validatorDeskList"
      [desks]="updatedStepModel.validators"
      (desksChange)="deskSelectionChanged($event)"
      [multiple]="isMultiple(updatedStepModel.validationMode)"
      [clearable]="isMultiple(updatedStepModel.validationMode)"
      [genericValidatorsAvailable]="!isMultiple(updatedStepModel.validationMode)"
      [retrieveDeskFunction]="retrieveDesksAsAdminFn">
    </app-desk-search-input>
  </div>

  <div class="notifications form-category">
    <label
      for="notificationDeskList"
      [innerText]="messages.NOTIFIED_DESKS_LABEL">
    </label>
    <app-desk-search-input
      id="notificationDeskList"
      [(desks)]="updatedStepModel.notifiedDesks"
      [multiple]="true"
      [clearable]="true"
      [genericValidatorsAvailable]="!isMultiple(updatedStepModel.validationMode)"
      [genericEmitterOnly]="true"
      [retrieveDeskFunction]="retrieveDesksAsAdminFn">
    </app-desk-search-input>
  </div>

  <div *ngIf="!lastStep" class="notifications form-category">
    <label
      for="mandatoryValidationMetadata"
      [innerText]="messages.MANDATORY_METADATA_VALIDATION_LABEL">
    </label>
    <ng-select
      id="mandatoryValidationMetadata"
      [(ngModel)]="updatedStepModel.mandatoryValidationMetadata"
      [compareWith]="compareByIdFn"
      [searchable]="true"
      [clearable]="true"
      [multiple]="true"
      [clearOnBackspace]="true"
      [clearAllText]="commonMessages.CLEAR"
      [placeholder]="messages.PICK_A_METADATA"
      [disabled]="tenantMetadataList.length == 0"
      [notFoundText]="commonMessages.NOT_FOUND"
      [required]="false"
      selectOnTab>

      <ng-option
        *ngFor="let metadata of tenantMetadataList"
        [value]="metadata"
        [innerText]="metadata.name | namePipe">
      </ng-option>

    </ng-select>
  </div>
  <div *ngIf="!lastStep" class="notifications form-category">
    <label
      for="mandatoryRejectionMetadata"
      [innerText]="messages.MANDATORY_METADATA_REJECTION_LABEL">
    </label>
    <ng-select
      id="mandatoryRejectionMetadata"
      [(ngModel)]="updatedStepModel.mandatoryRejectionMetadata"
      [compareWith]="compareByIdFn"
      [searchable]="true"
      [clearable]="true"
      [multiple]="true"
      [clearOnBackspace]="true"
      [clearAllText]="commonMessages.CLEAR"
      [placeholder]="messages.PICK_A_METADATA"
      [disabled]="tenantMetadataList.length == 0"
      [notFoundText]="commonMessages.NOT_FOUND"
      [required]="false"
      selectOnTab>

      <ng-option
        *ngFor="let metadata of tenantMetadataList"
        [value]="metadata"
        [innerText]="metadata.name | namePipe">
      </ng-option>

    </ng-select>
  </div>

  <div class="mt-3 d-flex justify-content-end">
    <button
      ls-button-cancel
      (click)="cancel()">
    </button>
    <button
      ls-button-save
      class="ml-2"
      [text]="commonMessages.ADD"
      (click)="addOrUpdateStep()"
      [disabled]="validateBtnDisabled">
    </button>
  </div>

</div>
