<!--
  ~ iparapheur Web
  ~ Copyright (C) 2019-2023 Libriciel SCOP
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU Affero General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU Affero General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License
  ~ along with this program. If not, see <http://www.gnu.org/licenses/>.
  -->

<div>

  <div class="modal-header">
    <h4
      class="modal-title"
      id="modal-basic-title"
      [innerText]="messages.SEAL_EDIT">
    </h4>
    <button
      type="button"
      class="close"
      (click)="activeModal.dismiss(commonMessages.ACTION_RESULT_CANCEL)">
      <fa-icon [icon]="timesIcon"></fa-icon>
    </button>
  </div>

  <div class="modal-body">

    <form class="ls-form">

      <div class="form-group">
        <label
          for="nameInput"
          [innerText]="commonMessages.NAME">
        </label>
        <input
          id="nameInput"
          name="nameInput"
          [(ngModel)]="sealCertificate.name"
          type="text"
          class="form-control"
          required
          minlength="1"
          maxlength="255">
      </div>

      <div class="form-group">
        <label
          for="signatureImageInput"
          [innerText]="messages.SEAL_EDIT_CERT_IMAGE">
        </label>
        <app-edit-signature
          id="signatureImageInput"
          (signatureCreateEvent)="createSignature($event)"
          (signatureDeleteEvent)="deleteSignature()"
          (signatureUpdateEvent)="updateSignature($event)"
          [signatureImageSrc]="signatureImageSrc"
          [modifiedUser]="modifiedUser">
        </app-edit-signature>
      </div>

    </form>

  </div>

  <div class="modal-footer">
    <button
      ls-button-cancel
      (click)="activeModal.dismiss(commonMessages.ACTION_RESULT_CANCEL)">
    </button>
    <button
      ls-button-save
      [icon]="commonIcons.SAVE_ICON"
      [processing]="isProcessing"
      (click)="onSaveButtonClicked()">
    </button>
  </div>

</div>
