<!--
  ~ iparapheur Web
  ~ Copyright (C) 2019-2023 Libriciel SCOP
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU Affero General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU Affero General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License
  ~ along with this program. If not, see <http://www.gnu.org/licenses/>.
  -->

<div class="modal-header">
  <h4
    class="modal-title"
    id="modal-basic-title"
    [innerText]="secondaryActionEnum.HistoryTasks | actionName">
  </h4>
  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="activeModal.dismiss(commonMessages.ACTION_RESULT_CANCEL)">
    <fa-icon [icon]="commonIcons.CLOSE_ICON"></fa-icon>
  </button>
</div>
<div class="modal-body">

  <table aria-label="history table" class="bg-white w-100 mt-2 table table-striped table-borderless border shadow-sm table-fixed table-text-overflow">
    <thead class="border">
    <tr>
      <th
        scope="col"
        class="th-sm col-date-medium-fixed-size"
        [innerText]="messages.DATE">
      </th>
      <th
        scope="col"
        class="th-sm"
        [innerText]="commonMessages.DESK">
      </th>
      <th
        scope="col"
        class="th-sm"
        [innerText]="commonMessages.USER">
      </th>
      <th
        scope="col"
        class="th-sm"
        [innerText]="commonMessages.PUBLIC_ANNOTATION">
      </th>
      <th
        scope="col"
        class="th-sm col-action-name-fixed-size"
        [innerText]="commonMessages.ACTION">
      </th>
      <th
        scope="col"
        class="th-sm col-buttons-fixed-size"
        [innerText]="commonMessages.STATE">
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let task of tasks">
      <td [innerText]="task.date | date: 'medium'"></td>
      <td [innerText]="task.desks[0]?.name | namePipe"></td>
      <td>
        <span
          *ngIf="!!task.user"
          [innerText]="task.user.firstName + ' ' + task.user.lastName">
        </span>
      </td>
      <td [innerText]="task?.publicAnnotation ?? ''"></td>
      <td>
        {{getExternalTaskPrefix(task)}} {{task.action | actionName}}
      </td>
      <td [innerText]="task.state | stateName: false"></td>
    </tr>
    </tbody>
  </table>

</div>
<div class="modal-footer">
  <button
    ls-button
    [text]="commonMessages.CLOSE"
    (click)="activeModal.dismiss(commonMessages.ACTION_RESULT_CANCEL)">
  </button>
</div>
