<!--
  ~ iparapheur Web
  ~ Copyright (C) 2019-2023 Libriciel SCOP
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU Affero General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU Affero General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License
  ~ along with this program. If not, see <http://www.gnu.org/licenses/>.
  -->
<div class="p-4">

  <app-breadcrumbs></app-breadcrumbs>

  <div
    class="h3"
    [innerText]="editMode ? messages.EDIT_WORKFLOW_TITLE : messages.CREATE_WORKFLOW_TITLE">
  </div>

  <form class="mt-3 ls-form">
    <div class="top-fields">

      <div class="workflow-name-container">
        <label
          class="required"
          for="workflowName"
          [innerText]="messages.WORKFLOW_NAME_LABEL">
        </label>
        <input
          id="workflowName"
          class="workflow-name-input form-control"
          type="text"
          [formControl]="workflowNameCtrl">
      </div>

      <button
        ls-button-save
        (click)="saveCurrent()"
        [text]="editMode ? messages.SAVE_WORKFLOW : messages.CREATE_WORKFLOW"
        [disabled]="!canSaveModifications() || waitingForAnswer"
        [processing]="waitingForAnswer">
      </button>

      <button
        ls-button-go-back
        class="ml-2"
        (click)="leaveEditor()"
        [disabled]="waitingForAnswer">
      </button>
    </div>
  </form>

  <div class="editor-content">
    <ls-workflow-editor
      [(workflow)]="updatedIpWorkflowModel"
      (workflowChange)="workflowWasUpdated()"
      [localizedMessages]="workflowEditorLocalizedMessages"
      [options]="options"
      [getStepIconClassFct]="getStepIconClass"
      [getStepTooltipFct]="getStepTooltip"
      [endpointIsEditable]="true"
      [lastStepData]="updatedLastStepData">

      <ng-template
          #popEditContent
          let-idx="idx"
          let-stepData="stepData"
          let-cancelStepEdition="cancelStepEdition"
          let-confirmStepEdition="confirmStepEdition">
        <app-step-editor
          (cancelChange)="cancelStepEdition()"
          (validateChange)="confirmStepEdition($event, idx)"
          [tenantMetadataList]="tenantMetadataList"
          [stepModel]="stepData">
        </app-step-editor>
      </ng-template>

      <ng-template
          #popCreateContent
          let-idx="idx"
          let-stepData="stepData"
          let-cancelStepCreation="cancelStepCreation"
          let-confirmStepCreation="confirmStepCreation">
        <app-step-editor
          (cancelChange)="cancelStepCreation(idx)"
          (validateChange)="confirmStepCreation($event, idx)"
          [tenantMetadataList]="tenantMetadataList"
          [stepModel]="stepData">
        </app-step-editor>
      </ng-template>

      <ng-template
          #endpointPopoverEditContent
          let-cancelStepEdition="cancelStepEdition"
          let-confirmStepEdition="confirmStepEdition">
        <app-step-editor
          (cancelChange)="cancelStepEdition()"
          (validateChange)="updateLastStep($event);confirmStepEdition()"
          [tenantMetadataList]="tenantMetadataList"
          [stepModel]="updatedLastStepData"
          [lastStep]="true">
        </app-step-editor>
      </ng-template>

      <ng-template #stepDisplayContent let-step="step">
        <div
          *ngIf="shouldDisplayStepValidationType(step)"
          class="step-validation-type-txt"
          [innerText]="(step['validationMode'] | validationModeName)">
        </div>
        <div
          *ngFor="let validator of step['validators']"
          class="custom-step-validator"
          [ngbTooltip]="validator?.name"
          [openDelay]="300"
          [innerText]="validator | genericDeskName | namePipe">
        </div>
      </ng-template>

      <ng-template #lastStepDisplayContent>
        <div
          *ngFor="let validator of updatedLastStepData.validators"
          class="custom-step-validator">
          <span [innerText]="validator | genericDeskName | namePipe"></span>
        </div>
      </ng-template>
    </ls-workflow-editor>

  </div>
</div>
