/*!
 * iparapheur Web
 * Copyright (C) 2019-2023 Libriciel SCOP
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program. If not, see <http://www.gnu.org/licenses/>.
 */

@import "src/styles/common_colors";

$top-btn-height: 2.5em;

:host {
  display: block;
}

.top-fields {
  display: flex;
  flex-direction: row;
  align-items: flex-end;

  max-width: 50em;

  .workflow-name-container {
    flex: 0 1 54%;
    margin-right: 0.5em;
  }

}

.editor-content {
  height: max-content;
  min-height: 100%;
  margin: 2em auto 6em auto;
  background-color: map_get($ls-color-map, "ls-grey-50");

  ls-workflow-editor {
    height: max-content;
    margin-bottom: 2em;
  }
}


.step-validation-type-txt {
  margin-bottom: 0.5em;
  font-style: italic;
  color: map-get($ls-color-map, "ls-grey-500");
}

.custom-step-validator {
  width: 95%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 0.5em;
}
