<!--
  ~ iparapheur Web
  ~ Copyright (C) 2019-2023 Libriciel SCOP
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU Affero General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU Affero General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License
  ~ along with this program. If not, see <http://www.gnu.org/licenses/>.
  -->

<div class="p-4 h-100 w-100 bg-light">

  <app-breadcrumbs></app-breadcrumbs>

  <h4 [innerText]="messages.PROFILE_EDIT_USER + ' ' + currentUser.userName"></h4>

  <div class="mt-3 p-4 d-flex w-100 m-1 bg-white shadow-sm">
    <ul ngbNav #nav="ngbNav" class="profile-nav text-nowrap" orientation="vertical">

      <li *ngIf="globalSettings.user.showPassword" ngbNavItem="password">
        <a ngbNavLink [innerText]="messages.PROFILE_PASSWORD"></a>
        <ng-template ngbNavContent>
          <h5 class="font-weight-bold m-3" [innerText]="messages.EDIT_PASSWORD_TITLE"></h5>
          <app-user-edit-password
            [isLdapSynchronized]="currentUser.isLdapSynchronized"
            (passwordChangeEvent)="this.newPassword = $event">
          </app-user-edit-password>
        </ng-template>
      </li>

      <li ngbNavItem="notifications">
        <a ngbNavLink [innerText]="messages.PROFILE_NOTIFICATION"></a>
        <ng-template ngbNavContent>
          <h5 class="font-weight-bold m-3" [innerText]="messages.EDIT_NOTIFICATIONS_TITLE"></h5>
          <div class="max-width-60">
            <app-user-edit-notifications
              [user]="currentUser"
              [userPreferences]="userPreferences">
            </app-user-edit-notifications>
          </div>
        </ng-template>
      </li>
      <li *ngIf="globalSettings.user.showSignature" ngbNavItem="signature">
        <a ngbNavLink [innerText]="messages.PROFILE_SIGNATURE"></a>
        <ng-template ngbNavContent>
          <app-edit-signature
              #signatureComponent
              (signatureCreateEvent)="createSignature($event)"
              (signatureDeleteEvent)="deleteSignature()"
              (signatureUpdateEvent)="updateSignature($event)"
              [signatureImageSrc]="signatureImageSrc"
              [modifiedUser]="currentUser">
          </app-edit-signature>
        </ng-template>
      </li>
      <li ngbNavItem="folder-view">
        <a ngbNavLink [innerText]="messages.PROFILE_FOLDER_VIEW_PREFERENCES"></a>
        <ng-template ngbNavContent>
          <app-folder-view-preferences
            [userPreferences]="userPreferences">
          </app-folder-view-preferences>
        </ng-template>
      </li>
      <li ngbNavItem="favorite-desks">
        <a ngbNavLink [innerText]="messages.PROFILE_FAVORITE_DESKS"></a>
        <ng-template ngbNavContent>
          <app-user-favorite-desks
            [userPreferences]="userPreferences">
          </app-user-favorite-desks>
        </ng-template>
      </li>
      <li ngbNavItem="dashboard">
        <a ngbNavLink [innerText]="messages.PROFILE_DASHBOARD"></a>
        <ng-template ngbNavContent>
          <app-user-dashboard
            [userPreferences]="userPreferences"
            [modifiedUser]="currentUser">
          </app-user-dashboard>
        </ng-template>
      </li>
      <li ngbNavItem="absences">
        <a ngbNavLink [innerText]="messages.PROFILE_ABSENCES"></a>
        <ng-template ngbNavContent>
          <app-absence-list [asAdmin]="false"></app-absence-list>
        </ng-template>
      </li>
      <li *ngIf="isTenantAdminOrMore" ngbNavItem="trash-bin">
        <a ngbNavLink [innerText]="messages.PROFILE_TRASH_BIN"></a>
        <ng-template ngbNavContent>
          <app-user-trash-bin-view-columns
            [userPreferences]="userPreferences"
            [modifiedUser]="currentUser">
          </app-user-trash-bin-view-columns>
        </ng-template>
      </li>
      <li ngbNavItem="administration">
        <a ngbNavLink [innerText]="messages.PROFILE_DEBUG"></a>
        <ng-template ngbNavContent>
          <app-user-debug
            [userPreferences]="userPreferences"
            [modifiedUser]="currentUser">
          </app-user-debug>
        </ng-template>
      </li>
    </ul>
    <div class="container-fluid">
      <div [ngbNavOutlet]="nav"></div>
      <button
        [text]="nav.activeId === 'password' ? messages.SAVE_NEW_PASSWORD : messages.PROFILE_VALIDATE"
        [disabled]="nav.activeId === 'password' && !this.newPassword"
        [processing]="loading"
        (click)="onSaveButtonClicked(nav.activeId)"
        ls-button-save
        class="mt-4">
      </button>
    </div>
  </div>
</div>



