<!--
  ~ iparapheur Web
  ~ Copyright (C) 2019-2023 Libriciel SCOP
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU Affero General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU Affero General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License
  ~ along with this program. If not, see <http://www.gnu.org/licenses/>.
  -->

<div class="border bg-white shadow-sm">

  <div class="border-bottom px-1 py-2">
    <fa-icon
      class="pointer text-primary"
      [icon]="isCollapsed ? plusSquareIcon : minusSquareIcon"
      (click)="isCollapsed = !isCollapsed"
      [fixedWidth]="true">
    </fa-icon>
    <strong
      class="ml-3"
      [innerText]="folderViewBlock.Draft | folderViewBlockName">
    </strong>
  </div>

  <form
    *ngIf="!isCollapsed"
    class="py-2 px-3 ls-form">

    <div class="form-group">
      <label
        for="nameInput"
        [innerText]="commonMessages.NAME">
      </label>
      <input
        id="nameInput"
        class="form-control"
        type="text"
        [(ngModel)]="folder.name"
        [disabled]="!modificationsEnabled">
    </div>

    <div class="form-group" *ngIf="modificationsEnabled">
      <label
        for="limit-date"
        [innerText]="commonMessages.DUE_DATE">
      </label>
      <div class="input-group">
        <input
          id="limit-date"
          class="form-control"
          name="limit-date"
          type="date"
          [ngModel]="folder.dueDate | date:'yyyy-MM-dd'"
          (ngModelChange)="folder.dueDate = $event">
      </div>
    </div>

    <div *ngIf="folder.dueDate && !modificationsEnabled">
      <span class="font-weight-bold mb-2" [innerText]="commonMessages.DUE_DATE"></span>
      <p
        [ngClass]="{'text-danger': isDateBeforeNow(folder.dueDate)}"
        [innerText]="folder.dueDate | date: 'fullDate'">
      </p>
    </div>

    <div class="form-group">
      <label
        for="typeFieldStatic"
        [innerText]="commonMessages.TYPE">
      </label>

      <!-- We don't want the selector if it is not needed -->
      <!-- It would trigger a getTypes request, and show a useless triangle. -->
      <!-- TODO : integrate that in the component -->
      <!--      <ng-container *ngIf="!isDraft">-->
      <input
        id="typeFieldStatic"
        class="form-control"
        type="text"
        [disabled]="true"
        [value]="folder.type?.name | namePipe">
      <!--      </ng-container>-->
      <!--      <ng-container *ngIf="isDraft">-->
      <!--        <app-type-selector-->
      <!--          id="typeFieldSelector"-->
      <!--          [disabled]="!isDraft"-->
      <!--          [mandatory]="true"-->
      <!--          [tenantId]="tenantId"-->
      <!--          [deskId]="desk.id"-->
      <!--          [(type)]="folder.type">-->
      <!--        </app-type-selector>-->
      <!--      </ng-container>-->
    </div>

    <div class="form-group">
      <label
        for="subtypeFieldStatic"
        [innerText]="commonMessages.SUBTYPE">
      </label>

      <!-- We don't want the selector if it is not needed -->
      <!-- It would trigger a getTypes request, and show a useless triangle. -->
      <!-- TODO : integrate that in the component -->

      <!--      <ng-container *ngIf="!isDraft">-->
      <input
        id="subtypeFieldStatic"
        class="form-control"
        type="text"
        [disabled]="true"
        [value]="folder.subtype?.name | namePipe">
      <!--      </ng-container>-->
      <!--      <ng-container *ngIf="isDraft">-->
      <!--        <app-subtype-selector-->
      <!--          id="subtypeFieldSelector"-->
      <!--          [mandatory]="true"-->
      <!--          [tenantId]="tenantId"-->
      <!--          [deskId]="desk.id"-->
      <!--          [type]="folder.type"-->
      <!--          [(subtype)]="folder.subtype">-->
      <!--        </app-subtype-selector>-->
      <!--      </ng-container>-->
    </div>

    <div
      *ngIf="modificationsEnabled"
      class="form-group d-flex justify-content-end">
      <button
        ls-button-save (click)="onSaveButtonClicked()"
        [processing]="saveProcessing">
      </button>
    </div>

  </form>

</div>

