<!--
  ~ iparapheur Web
  ~ Copyright (C) 2019-2023 Libriciel SCOP
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU Affero General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU Affero General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License
  ~ along with this program. If not, see <http://www.gnu.org/licenses/>.
  -->

<div class="mx-3 form-group ls-form">
  <label [innerText]="messages.SHOW_ADMIN_IDS"></label>
  <div>
    <button
      class="btn btn-outline-primary pr-4 pl-4"
      [ngClass]="{'active': userPreferences.showAdminIds}"
      (click)="userPreferences.showAdminIds = true"
      [innerText]="messages.SHOW">
    </button>
    <button
      class="btn btn-outline-primary ml-1 pr-4 pl-4"
      [ngClass]="{'active': !userPreferences.showAdminIds}"
      (click)="userPreferences.showAdminIds = false"
      [innerText]="messages.DO_NOT_SHOW">
    </button>
  </div>
</div>
