/*!
 * iparapheur Web
 * Copyright (C) 2019-2023 Libriciel SCOP
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program. If not, see <http://www.gnu.org/licenses/>.
 */

@import 'common_sizes';


.workflow-editor-custom-layout {
  grid-template-columns: 50%;
  padding-bottom: 2em;
}


@media (min-width: $screen-md-min) {
  .workflow-editor-custom-layout {
    grid-template-columns: 45%;
  }
}


@media (min-width: $screen-lg-min) {
  .workflow-editor-custom-layout {
    grid-template-columns: 40%;
  }
}


.popover.ls-step-edition-popover {
  margin-left: 5.5em;
  max-width: 50em;
  width: 34em;

  border: none;
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.15);
  background-color: #fff;
}


body {
  --ls-font-awesome-family: 'FontAwesome';
  --ls-workflow-step-width: 20em;

  @media (min-width: $screen-md-min) {
    --ls-workflow-step-width: 22em;
  }

  @media (min-width: $screen-lg-min) {
    --ls-workflow-step-width: 25em;
  }
}


.additional-end-class {
  width: var(--ls-workflow-reduced-step-width);
  text-align: left;

  & > div.ls-workflow-endpoint-content {
    margin-left: calc(var(--ls-workflow-reduced-step-width) / 12);
  }
}


.ls-step-validator-list {
  width: var(--ls-workflow-step-width);
}
