<!--
  ~ iparapheur Web
  ~ Copyright (C) 2019-2023 Libriciel SCOP
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU Affero General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU Affero General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License
  ~ along with this program. If not, see <http://www.gnu.org/licenses/>.
  -->
<div class="d-flex flex-row-reverse flex-nowrap h-100 w-100">

  <app-folder-filter-panel
    (closeFiltersEvent)="toggleFilterPanel()"
    (updateFilterEvent)="filterChanged($event)"
    [active]="showFilterPanel"
    [filter]="appliedFilter"
    [originalFilter]="originalFilter">
  </app-folder-filter-panel>

  <div class="p-4 h-100 w-100 bg-light">

    <app-breadcrumbs></app-breadcrumbs>

    <div
      class="h4 mt-4 font-weight-bold"
      [innerText]="folderState | stateName">
    </div>

    <!-- Header -->

    <button
      ls-button
      size="sm"
      [text]="commonMessages.CREATE_FOLDER"
      [icon]="commonIcons.CREATE_ICON"
      *ngIf="isCreateFolderAvailable()"
      class=" btn btn-sm btn-primary"
      routerLink="/tenant/{{tenantId}}/desk/{{deskId}}/draft/create"
      type="button">
      <fa-icon [icon]="commonIcons.ADD_ICON"></fa-icon>
      {{ commonMessages.CREATE_FOLDER }}
    </button>

    <div class="my-2 d-flex flex-row justify-content-end align-items-center">

      <app-multiple-action-list
        (onSuccess)="onMultipleActionSuccess($event)"
        [actions]="actionsToDisplay"
        [deskId]="deskId"
        [folders]="selectedFolders"
        [tenantId]="tenantId"
        class="flex-grow-1">
      </app-multiple-action-list>

      <span class="flex-grow-1"></span>

      <span
        [innerHTML]="commonMessages.PAGINATION_SIZE_LABEL"
        class="p-1 px-2">
      </span>

      <ngb-pagination
        [(page)]="pageSizeIndex"
        [boundaryLinks]="false"
        [collectionSize]="pageSizes.length"
        [directionLinks]="false"
        [pageSize]="1"
        [rotate]="false"
        (pageChange)="pageSizeChange($event)"
        class="mr-2"
        size="sm">
        <ng-template let-p ngbPaginationNumber>{{ getPageSize(p) }}</ng-template>
      </ngb-pagination>

      <div class="d-flex align-items-center mr-2">
        <ng-select
          [(ngModel)]="selectedFilterId"
          (change)="selectedFilterChange($event)"
          [multiple]="false"
          [notFoundText]="commonMessages.NO_VALUE"
          [placeholder]="commonMessages.FILTER_FIELD_PH"
          [searchable]="false"
          class="filter-selection"
          id="currentFilter">

          <ng-option
            *ngFor="let filter of userFolderFilters"
            [innerText]="filter.filterName"
            [value]="filter.id">
          </ng-option>
        </ng-select>
      </div>

      <button
        (click)="toggleFilterPanel()"
        [iconOnLeft]="false"
        [icon]="showFilterPanel ? icons.HIDE_PANEL_ICON : icons.SHOW_PANEL_ICON"
        [text]="commonMessages.FILTER_BUTTON_LABEL"
        ls-button>
      </button>
    </div>


    <!-- List -->

    <table
      *ngIf="userPreferences"
      class="table-text-overflow w-100 bg-white mt-4 table table-fixed table-striped table-borderless border shadow-sm">
      <thead class="border">
      <tr class="w-100">
        <th class="th text-right col-icon-fixed-size">
          <div class="custom-control custom-checkbox">
            <input
              (change)="checkAll()"
              [(ngModel)]="allFoldersSelected"
              [id]="'checkbox_checkAll'"
              class="custom-control-input"
              type="checkbox">
            <label
              [htmlFor]="'checkbox_checkAll'"
              class="custom-control-label">
            </label>
          </div>
        </th>
        <th
          (click)="onRowOrderClicked(column)"
          *ngFor="let column of userPreferences.taskViewColumnList"
          [ngClass]="{
          'col-icon-fixed-size' : column === columnsEnum.State,
          'col-id-fixed-size' : column === columnsEnum.TaskId || column === columnsEnum.FolderId,
          'col-date-fixed-size' : column === columnsEnum.LimitDate || column === columnsEnum.CreationDate,
          'pointer' : mapColumnToSortBy(column) !== null
          }"
          class="th-sm">
          <fa-icon
            *ngIf="mapColumnToSortBy(column) !== null"
            [fixedWidth]="true"
            [icon]="asc ? caretUp : caretDown"
            class="{{ sortBy === mapColumnToSortBy(column) ? 'visible' : 'invisible' }}">
          </fa-icon>
          {{column | columnNamePipe}}
        </th>
      </tr>
      </thead>
      <tbody
        app-list-loader
        [data]="folders"
        [loading]="loading"
        [colspan]="colspan"
        [emptyMessage]="commonMessages.EMPTY_FOLDER_LIST">
      </tbody>
      <tbody>
      <tr
        *ngFor="let folder of folders"
        class="w-100">
        <td class="pl-0 text-right col-icon-fixed-size">
          <div class="custom-control custom-checkbox">
            <div>
              <input
                (change)="setActionsToDisplay()"
                [(ngModel)]="folder.selected"
                [id]="'checkbox_' + folder.id"
                class="custom-control-input"
                type="checkbox">
              <label
                [htmlFor]="'checkbox_' + folder.id"
                class="custom-control-label">
              </label>
            </div>
          </div>
        </td>
        <td
          *ngFor="let column of userPreferences.taskViewColumnList"
          [ngClass]="{ 'sortable-row': mapColumnToSortBy(column) !== null }">
          <div *ngIf="column === columnsEnum.State">
            <fa-icon
              *ngIf="doesFolderHaveToBeRead(folder)"
              [fixedWidth]="true"
              [icon]="commonIcons.WARNING_ICON"
              [ngbTooltip]="messages.READING_MANDATORY">
            </fa-icon>
            <fa-icon
              *ngIf="!doesFolderHaveToBeRead(folder)"
              [fixedWidth]="true"
              [icon]="folder.readByCurrentUser ? eyeIcon : eyeSlashIcon"
              [ngbTooltip]="folder.readByCurrentUser ? messages.READ : messages.UNREAD">
            </fa-icon>
            <fa-icon
              [fixedWidth]="true"
              [icon]="folder.stepList[0]?.action | actionIcon: (folderState === stateEnum.Downstream)"
              [ngbTooltip]="folder.stepList[0]?.action | actionName: true: true: (folderState === stateEnum.Downstream)"
              class="pl-2">
            </fa-icon>
          </div>
          <div *ngIf="column === columnsEnum.FolderName"
               [ngbTooltip]="folder.name | namePipe"
               class="overflow-hidden text-overflow-ellipsis">
            <a [routerLink]="legacyDeskService.getFolderViewUrl(tenantId, deskId, folder.id)"
               [queryParams]="legacyDeskService.getAsDeskQueryParam(getTargetDeskId(folder))"
               [innerText]="folder.name | namePipe">
            </a>
          </div>
          <div *ngIf="column === columnsEnum.Type" [innerText]="folder.type?.name | namePipe"></div>
          <div *ngIf="column === columnsEnum.Subtype" [innerText]="folder.subtype?.name | namePipe"></div>
          <div *ngIf="column === columnsEnum.CreationDate" [innerText]="folder.stepList[0].beginDate | date: 'shortDate'"></div>
          <div
            *ngIf="column === columnsEnum.LimitDate"
            [innerText]="folder.dueDate | date: 'shortDate'"
            [ngClass]="{ 'text-danger': isDateBeforeNow(folder.dueDate) }">
          </div>
          <div
            class="overflow-hidden text-overflow-ellipsis"
            *ngIf="column === columnsEnum.CurrentDesk"
            [ngbTooltip]="getCurrentDeskNameIfAppropriate(folder)"
            [innerText]="getCurrentDeskNameIfAppropriate(folder)">
          </div>
          <div
            class="overflow-hidden text-overflow-ellipsis"
            *ngIf="column === columnsEnum.OriginDesk"
            [ngbTooltip]="folder.originDesk?.name | namePipe"
            [innerText]="folder.originDesk?.name | namePipe">
          </div>
          <div
            *ngIf="column === columnsEnum.TaskId"
            class="text-monospace text-size-small"
            [innerText]="folder.stepList[0].id">
          </div>
          <div
            *ngIf="column === columnsEnum.FolderId"
            class="text-monospace text-size-small"
            [innerText]="folder.id">
          </div>
        </td>
      </tr>
      </tbody>
    </table>
    <ngb-pagination
      [(page)]="page"
      [boundaryLinks]="false"
      [collectionSize]="total"
      [directionLinks]="false"
      [maxSize]="5"
      [pageSize]="getPageSize(pageSizeIndex)"
      [rotate]="true"
      (pageChange)="pageChange($event)"
      class="d-flex justify-content-end"
      size="sm">
    </ngb-pagination>
  </div>
</div>
