<!--
  ~ iparapheur Web
  ~ Copyright (C) 2019-2023 Libriciel SCOP
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU Affero General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU Affero General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License
  ~ along with this program. If not, see <http://www.gnu.org/licenses/>.
  -->

<div class="container-fluid">
  <h5
    class="font-weight-bold mb-3"
    [innerText]="messages.FOLDER_VIEW_PREFERENCES_TITLE">
  </h5>
  <h6 [innerText]="messages.FOLDER_VIEW_PREFERENCES_SUBTITLE"></h6>

  <div
    class="list-group rounded-0 list-striped border-top border-bottom no-pointer"
    cdkDropList
    (cdkDropListDropped)="drop($event)">
    <div
      cdkDragBoundary=".list-striped"
      class="d-flex justify-content-between list-group-item border-0 draggable-element"
      *ngFor="let block of userPreferences.folderViewBlockList"
      cdkDrag
      (cdkDragStarted)="dragStart()">
      <span [innerText]="block | folderViewBlockName"></span>
      <div
        class="example-handle text-primary pointer"
        cdkDragHandle>
        <fa-icon [icon]="gripHorizontalIcon"></fa-icon>
      </div>
    </div>
  </div>
</div>
