<!--
  ~ iparapheur Web
  ~ Copyright (C) 2019-2023 Libriciel SCOP
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU Affero General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU Affero General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License
  ~ along with this program. If not, see <http://www.gnu.org/licenses/>.
  -->

<div class="global-error-popup">

  <div class="modal-header py-2">
    <h4 class="modal-title font-weight-bold"
        id="modal-basic-title">{{messages.GLOBAL_ERROR_TITLE}}</h4>
    <button type="button"
            class="close"
            aria-label="Close"
            (click)="onCloseButtonClicked()">
      <fa-icon [icon]="'times'"></fa-icon>
    </button>
  </div>

  <div class="modal-body py-1">
    <div class="p-3 error-display">
      <p class="font-weight-bold">{{title}}</p>
      <p>{{errorMessage}}</p>
    </div>
  </div>

  <div class="modal-footer py-2">
    <button type="button"
            class="btn btn-outline-primary"
            (click)="onCloseButtonClicked()">
      <fa-icon class="mx-2 font-weight-bold" [icon]="'times'"></fa-icon>
      {{messages.CLOSE}}
    </button>
  </div>

</div>
