<!--
  ~ iparapheur Web
  ~ Copyright (C) 2019-2023 Libriciel SCOP
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU Affero General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU Affero General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License
  ~ along with this program. If not, see <http://www.gnu.org/licenses/>.
  -->

<div class="d-flex flex-row flex-nowrap h-100">

  <div class="left-panel p-4 bg-light shadow">

    <h4>Mes statistiques</h4>

    <div class="form-group mt-3">
      <label>Bureau</label>
      <app-desk-search-input
        [desks]="[selectedDesk]"
        (desksChange)="onDeskSelectionChanged($event)"
        [multiple]="false"
        [clearable]="false"
        [genericValidatorsAvailable]="false"
        [retrieveDeskFunction]="retrieveUserDesksFn">
      </app-desk-search-input>
    </div>

    <div class="row">

      <div class="col-6 form-group">
        <label for="date-picker-start">Date de début</label>
        <input placeholder="Date de début"
               type="date"
               id="date-picker-start"
               class="form-control datepicker"
               [(ngModel)]="startDate"
               (ngModelChange)="refreshGraph()">
      </div>

      <div class="col-6 form-group">
        <label for="date-picker-end">Date de fin</label>
        <input placeholder="Date de fin"
               type="date"
               id="date-picker-end"
               class="form-control datepicker"
               [(ngModel)]="endDate"
               (ngModelChange)="refreshGraph()">
      </div>

    </div>

    <div class="row">

      <div class="col-6 form-group">
        <label for="groupBySelect">Cumul par</label>
        <select id="groupBySelect"
                class="form-control selectpicker"
                [(ngModel)]="periodicity"
                (ngModelChange)="refreshGraph()">
          <option *ngFor="let periodType of statsGraphPeriodEnum | keyvalue"
                  [ngValue]="periodType.value">
            {{ periodType.value }}
          </option>
        </select>
      </div>

      <div class="col-6 form-group">
        <label for="graphTypeSelect">Type de graphe</label>
        <select id="graphTypeSelect"
                class="form-control selectpicker"
                [(ngModel)]="graphType"
                (ngModelChange)="refreshGraph()">
          <option *ngFor="let graphType of statsGraphTypeEnum | keyvalue"
                  [ngValue]="graphType.value">
            {{ graphType.value }}
          </option>
        </select>
      </div>

    </div>

  </div>

  <div class="m-3 flex-grow-1 d-flex flex-column flex-nowrap justify-content-center">

    <img #chartImageElement
         alt="Graphique"
         class="img-fluid img-thumbnail"
         (resize)="refreshGraph()"
         [src]="chartImageSrc">
  </div>

</div>
