<!--
  ~ iparapheur Web
  ~ Copyright (C) 2019-2023 Libriciel SCOP
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU Affero General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU Affero General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License
  ~ along with this program. If not, see <http://www.gnu.org/licenses/>.
  -->

<div class="modal-header">

  <h4
    class="modal-title"
    id="modal-basic-title overflow-hidden text-overflow-ellipsis"
    [innerText]="getTitle()">
  </h4>
  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="activeModal.close(commonMessages.ACTION_RESULT_CANCEL)">
    <fa-icon [icon]="commonIcons.CLOSE_ICON"></fa-icon>
  </button>
</div>

<div class="modal-body">
  <form ngForm>
    <div class="form-group" *ngIf="!isSignaturePlacement()">
      <label for="annotation">{{messages.ANNOTATION_POPUP_CONTENT_LABEL}}</label>
      <textarea id="annotation"
                class="form-control"
                name="content"
                [(ngModel)]="targetAnnotation.content"
                rows="6">
      </textarea>
    </div>

    <div *ngIf="isSignaturePlacement()"
         [innerText]="messages.SIGNATURE_PLACEMENT_POPUP_CONTENT">
    </div>
    <!-- FIXME multiple signature placement annotation
      <div class="form-group" *ngIf="isSignaturePlacement()">
        <label for="signatureNumber">{{messages.ANNOTATION_POPUP_SIGNATURE_NUMBER_LABEL}}</label>
        <input type="number"
               min="1"
               id="signatureNumber"
               name="signatureNumber"
               class="form-control"
               [(ngModel)]="targetAnnotation.signatureNumber">
      </div>
    -->
  </form>
</div>
<div class="modal-footer">
  <button
    ls-button-cancel
    (click)="activeModal.close(commonMessages.ACTION_RESULT_CANCEL)"
    [icon]="commonIcons.CLOSE_ICON"
    [text]="commonMessages.CANCEL">
  </button>

  <button
    ls-button
    *ngIf="type !== 'annotationCreated' && type !== 'signaturePlacementCreated'"
    (click)="activeModal.close({value: 'delete', annotation: this.targetAnnotation})"
    [style]="style.DANGER"
    [icon]="commonIcons.DELETE_ICON"
    [text]="commonMessages.DELETE">
  </button>

  <button
    ls-button
    (click)="perform()"
    [style]="style.NORMAL"
    [icon]="checkIcon"
    [text]="commonMessages.VALIDATE">
  </button>
</div>
