<!--
  ~ iparapheur Web
  ~ Copyright (C) 2019-2023 Libriciel SCOP
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU Affero General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU Affero General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License
  ~ along with this program. If not, see <http://www.gnu.org/licenses/>.
  -->

<div class="container-fluid d-flex flex-column">
  <div class="container-fluid w-100">
    <h5
      class="font-weight-bold mb-3"
      [innerText]="messages.DASHBOARD_TITLE">
    </h5>


    <!-- FIXME - show checkbox when we can filter desks with delegations (
    <div class="form-group">
      <label [innerText]="messages.DASHBOARD_SHOW_DELEGATIONS"></label>
      <div>
        <button
          class="btn btn-outline-primary pr-4 pl-4"
          [ngClass]="{'active': !!userPreferences.showDelegations}"
          (click)="userPreferences.showDelegations = true"
          [innerText]="messages.SHOW">
        </button>
        <button
          class="btn btn-outline-primary ml-1 pr-4 pl-4"
          [ngClass]="{'active': !userPreferences.showDelegations}"
          (click)="userPreferences.showDelegations = false"
          [innerText]="messages.DO_NOT_SHOW">
        </button>
      </div>
    </div>
    -->

    <div class="form-group">
      <label
        for="resultsPerPageInput"
        [innerText]="messages.DASHBOARD_RESULTS_PER_PAGE">
      </label>
      <ng-select
        id="resultsPerPageInput"
        class="settings-select"
        [clearable]="false"
        [(ngModel)]="userPreferences.taskViewDefaultPageSize">
        <ng-option
          *ngFor="let number of possibleResultsPerPage"
          [value]="number"
          [innerText]="number">
        </ng-option>
      </ng-select>
    </div>

    <div class="form-group">
      <label
        for="defaultSortInput"
        [innerText]="messages.DASHBOARD_DEFAULT_SORT">
      </label>
      <ng-select
        id="defaultSortInput"
        class="settings-select"
        [clearable]="false"
        [(ngModel)]="userPreferences.taskViewDefaultSortBy">
        <ng-option
          *ngFor="let column of taskViewColumEnum | keyvalue"
          [value]="taskViewColumEnum[column.key]"
          [innerText]="taskViewColumEnum[column.key] | columnNamePipe">
        </ng-option>
      </ng-select>
    </div>

    <div class="form-group">
      <div>
        <button
          class="btn btn-outline-primary pr-4 pl-4"
          [ngClass]="{'active': !!userPreferences.taskViewDefaultAsc}"
          (click)="userPreferences.taskViewDefaultAsc = true"
          [innerText]="messages.DASHBOARD_ASC">
        </button>
        <button
          class="btn btn-outline-primary ml-1 pr-4 pl-4"
          [ngClass]="{'active': !userPreferences.taskViewDefaultAsc}"
          (click)="userPreferences.taskViewDefaultAsc = false"
          [innerText]="messages.DASHBOARD_DESC">
        </button>
      </div>
    </div>

    <div class="form-group">
      <label
        for="defaultFilterInput"
        [innerText]="messages.DASHBOARD_DEFAULT_FILTER">
      </label>
      <ng-select
        id="defaultFilterInput"
        class="settings-select"
        [(ngModel)]="userPreferences.currentFilter"
        [compareWith]="compareByIdFn"
        [searchable]="false"
        clearable="true"
        [placeholder]="commonMessages.NO_VALUE"
        [notFoundText]="commonMessages.NOT_FOUND">
        <ng-option
          *ngFor="let filter of filters"
          [value]="filter"
          [innerText]="filter.filterName">
        </ng-option>
      </ng-select>
    </div>
  </div>
  <div class="container-fluid w-100">
    <h5
      class="font-weight-bold"
      [innerText]="messages.DASHBOARD_SORT_ELEMENTS">
    </h5>
    <div class="container-fluid h-100 w-100 d-flex flex-row m-0 p-0">

      <div class="w-50 mr-3">
        <span [innerText]="messages.DASHBOARD_AVAILABLE_COLUMNS"></span>

        <div class="w-100 list-group rounded-0 list-striped border-top border-bottom">
          <div
            class="d-flex justify-content-between list-group-item border-0 no-pointer"
            *ngFor="let column of availableColumns; let i = index">
            <span [innerText]="column | columnNamePipe"></span>
            <fa-icon
              class="text-primary pointer"
              [icon]="commonIcons.ADD_ICON"
              (click)="addToUsedColumns(i)">
            </fa-icon>
          </div>
        </div>
      </div>

      <div class="w-50 ml-3">
        <div class="w-100 d-flex m-0 flex-row justify-content-between">
          <span [innerText]="messages.DASHBOARD_USED_COLUMNS"></span>
          <span
            class="mr-3"
            [innerText]="messages.DASHBOARD_ORDER">
          </span>
        </div>
        <div
          cdkDropList
          class="w-100 list-group rounded-0 list-striped border-top border-bottom"
          (cdkDropListDropped)="drop($event)">
          <div
            cdkDragBoundary=".list-striped"
            class="d-flex justify-content-between list-group-item border-0 no-pointer"
            *ngFor="let column of userPreferences.taskViewColumnList; let i = index"
            cdkDrag>
            <div>
              <fa-icon
                class="mr-3 delete-icon"
                [ngClass]="column === columns.FolderName ? 'disabled transparent' : 'pointer'"
                [title]="commonMessages.DELETE"
                [icon]="commonIcons.DELETE_ICON"
                (click)="removeFromUsedColumns(column)">
              </fa-icon>
              <span [innerText]="column | columnNamePipe"></span>
            </div>
            <div
              class="example-handle pointer"
              cdkDragHandle>
              <span
                class="mr-3"
                [innerText]="i + 1">
              </span>
              <fa-icon
                class="text-primary"
                [icon]="gripHorizontalIcon">
              </fa-icon>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
