<!--
  ~ iparapheur Web
  ~ Copyright (C) 2019-2023 Libriciel SCOP
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU Affero General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU Affero General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License
  ~ along with this program. If not, see <http://www.gnu.org/licenses/>.
  -->

<form [formGroup]="extSigForm" class="ls-form">

  <div class="modal-header">
    <h4
      class="modal-title overflow-hidden text-overflow-ellipsis text-nowrap"
      id="modal-basic-title"
      [innerText]="messages.getConnectorEditOrCreatePopupTitle(editMode, currentConfig?.name)">
    </h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="onCancelButtonClicked()">
      <fa-icon [icon]="commonIcons.CLOSE_ICON"></fa-icon>
    </button>
  </div>

  <div class="modal-body mt-4 mx-3">


    <div class="form-group required">
      <label for="nameInput" [innerText]="commonMessages.NAME"></label>
      <input
        [(ngModel)]="currentConfig.name"
        id="nameInput"
        name="nameInput"
        type="text"
        class="form-control"
        formControlName="name">
    </div>

    <div class="form-group required">
      <label for="urlInput" [innerText]="messages.URL"></label>
      <input
        [(ngModel)]="currentConfig.url"
        id="urlInput"
        name="urlInput"
        type="text"
        class="form-control"
        formControlName="url">
    </div>

    <div class="form-group">
      <label for="serviceSelect" [innerText]="messages.SERVICE"></label>
      <select
        [(ngModel)]="currentConfig.serviceName"
        id="serviceSelect"
        class="form-control selectpicker"
        formControlName="serviceName"
        (ngModelChange)="onServiceChange()">

        <option
          *ngFor="let service of availableServices"
          [ngValue]="service"
          [innerText]="service | externalSignatureProvider">
        </option>
      </select>
    </div>


    <div class="form-group required" *ngIf="showTokenField">
      <label for="tokenInput" [innerText]="messages.TOKEN"></label>
      <input
        [(ngModel)]="currentConfig.token"
        id="tokenInput"
        name="tokenInput"
        type="text"
        class="form-control"
        required
        formControlName="token">
    </div>

    <div class="form-group required" *ngIf="showLoginField">
      <label for="loginInput" [innerText]="messages.LOGIN"></label>
      <input
        [(ngModel)]="currentConfig.login"
        id="loginInput"
        name="loginInput"
        type="text"
        class="form-control"
        required
        formControlName="login">
    </div>

    <div class="form-group required" *ngIf="showPasswordField">
      <label for="passwordInput" [innerText]="messages.PASSWORD"></label>
      <div class="input-group">

        <input
          [(ngModel)]="currentConfig.password"
          id="passwordInput"
          name="passwordInput"
          class="form-control"
          formControlName="password"
          required
          [type]="hidePassword ? 'password' : 'text'">

        <div class="input-group-append">
          <div class="input-group-text" (click)="hidePassword = !hidePassword">

            <fa-icon class="hide-password-button text-center"
                     [icon]="hidePassword ? eyeIcon : eyeSlashIcon"
                     [fixedWidth]="true">
            </fa-icon>
          </div>
        </div>
      </div>

    </div>

  </div>

  <div class="modal-footer">
    <button
      ls-button-cancel
      (click)="cancel()">
    </button>
    <button
      ls-button
      [processing]="isProcessing"
      (click)="executeForm()"
      [text]="editMode ? commonMessages.EDIT : commonMessages.ADD"
      [icon]="editMode ? commonIcons.EDIT_ICON : commonIcons.ADD_ICON"
      [disabled]="!extSigForm.valid">
    </button>
  </div>

</form>
