<!--
  ~ iparapheur Web
  ~ Copyright (C) 2019-2023 Libriciel SCOP
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU Affero General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU Affero General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License
  ~ along with this program. If not, see <http://www.gnu.org/licenses/>.
  -->
<div class="container-fluid d-flex flex-column">
  <div class="container-fluid w-100">
    <h5
      class="font-weight-bold mb-3"
      [innerText]="messages.TRASH_BIN_FOLDERS_TITLE">
    </h5>

    <div class="form-group">
      <label
        for=resultsPerPageInput
        [innerText]="messages.DASHBOARD_RESULTS_PER_PAGE">
      </label>
      <ng-select
        id="resultsPerPageInput"
        class="settings-select"
        [clearable]="false"
        [(ngModel)]="userPreferences.archiveViewDefaultPageSize">
        <ng-option
          *ngFor="let number of possibleResultsPerPage"
          [value]="number"
          [innerText]="number">
        </ng-option>
      </ng-select>
    </div>
  </div>
  <div class="container-fluid w-100">
    <h5
      class="font-weight-bold"
      [innerText]="messages.DASHBOARD_SORT_ELEMENTS">
    </h5>
    <div class="container-fluid h-100 w-100 d-flex flex-row m-0 p-0">

      <div class="w-50 mr-3">
        <span [innerText]="messages.DASHBOARD_AVAILABLE_COLUMNS"></span>

        <div class="w-100 list-group rounded-0 list-striped border-top border-bottom">
          <div
            class="d-flex justify-content-between list-group-item border-0 no-pointer"
            *ngFor="let column of availableColumns; let i = index">
            <span [innerText]="column | columnNamePipe"></span>
            <fa-icon
              class="text-primary pointer"
              [icon]="commonIcons.ADD_ICON"
              (click)="addToUsedColumns(i)">
            </fa-icon>
          </div>
        </div>
      </div>

      <div class="w-50 ml-3">
        <div class="w-100 d-flex m-0 flex-row justify-content-between">
          <span [innerText]="messages.DASHBOARD_USED_COLUMNS"></span>
          <span
            class="mr-3"
            [innerText]="messages.DASHBOARD_ORDER">
          </span>
        </div>
        <div
          cdkDropList
          class="w-100 list-group rounded-0 list-striped border-top border-bottom"
          (cdkDropListDropped)="drop($event)">
          <div
            cdkDragBoundary=".list-striped"
            class="d-flex justify-content-between list-group-item border-0 no-pointer"
            *ngFor="let column of userPreferences.archiveViewColumnList; let i = index"
            cdkDrag>
            <div>
              <fa-icon
                class="mr-3 delete-icon"
                [ngClass]="column === columns.Name ? 'disabled transparent' : 'pointer'"
                [title]="commonMessages.DELETE"
                [icon]="commonIcons.DELETE_ICON"
                (click)="removeFromUsedColumns(column)">
              </fa-icon>
              <span [innerText]="column | columnNamePipe"></span>
            </div>
            <div
              class="example-handle pointer"
              cdkDragHandle>
              <span
                class="mr-3"
                [innerText]="i + 1">
              </span>
              <fa-icon
                class="text-primary"
                [icon]="gripHorizontalIcon">
              </fa-icon>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
