<!--
  ~ iparapheur Web
  ~ Copyright (C) 2019-2023 Libriciel SCOP
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU Affero General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU Affero General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License
  ~ along with this program. If not, see <http://www.gnu.org/licenses/>.
  -->

<div class="p-4">

  <app-breadcrumbs [forceReload]="tenantId"></app-breadcrumbs>

  <div class="h3" [innerText]="messages.WORKFLOW_MANAGEMENT"></div>

  <!-- Header -->

  <div class="mt-3 d-flex align-items-start">

    <button
      ls-button
      class="mr-2"
      (click)="onCreateWorkflowClicked()"
      [icon]="commonIcons.CREATE_ICON"
      [text]="messages.CREATE_WORKFLOW"
      [disabled]="!tenantId">
    </button>

    <!--    <button ls-button                               -->
    <!--      class="mr-2"                           -->
    <!--      (click)="onImportWorkflowClicked()"    -->
    <!--      [icon]="uploadIcon"                    -->
    <!--      [text]="messages.IMPORT_WORKFLOW"     -->
    <!--      [disabled]="!tenantId">                -->
    <!--    </button>                             -->

    <app-search-bar
      class="search-input"
      (debouncedKeyup)="updateSearchTerm($event)"
      [placeholder]="messages.SEARCH_WORKFLOWS">
    </app-search-bar>

    <span class="flex-grow-1"></span>
    <span class="p-1 px-2" [innerText]="commonMessages.PAGINATION_SIZE_LABEL"></span>

    <ngb-pagination
      size="sm"
      [collectionSize]="pageSizes.length"
      [(page)]="pageSizeIndex"
      [pageSize]="1"
      [rotate]="false"
      [boundaryLinks]="false"
      [directionLinks]="false"
      (pageChange)="requestWorkflowList()">
      <ng-template ngbPaginationNumber let-p>{{ getPageSize(p) }}</ng-template>
    </ngb-pagination>

  </div>

  <!-- List -->

  <table aria-label="workflow list" class="bg-white table table-striped table-borderless border shadow-sm w-100 table-text-overflow">
    <thead class="border">
    <tr>
      <th (click)="onRowOrderClicked(sortByEnum.Name)"
          scope="col">
        <fa-icon
          class="{{ sortBy === sortByEnum.Name ? 'visible' : 'invisible' }}"
          [icon]="asc ? caretUp : caretDown"
          [fixedWidth]="true">
        </fa-icon>
        {{ commonMessages.NAME }}
      </th>
      <th
        (click)="onRowOrderClicked(sortByEnum.Key)"
        scope="col">
        <fa-icon
          class="{{ sortBy === sortByEnum.Key ? 'visible' : 'invisible' }}"
          [icon]="asc ? caretUp : caretDown"
          [fixedWidth]="true">
        </fa-icon>
        {{ commonMessages.KEY }}
      </th>
      <th
        scope="col"
        class="col-int-fixed-size"
        [innerText]="messages.REVISION">
      </th>
      <th *ngIf="userPreferences.showAdminIds"
          scope="col"
          class="col-id-fixed-size"
          (click)="onRowOrderClicked(sortByEnum.Id)">
        <fa-icon
          class="{{ sortBy === sortByEnum.Id ? 'visible' : 'invisible' }}"
          [icon]="asc ? caretUp : caretDown"
          [fixedWidth]="true"></fa-icon>
        {{ commonMessages.ID }}
      </th>
      <th scope="col" class="col-buttons-fixed-size col-buttons-3-buttons" [innerText]="commonMessages.ACTIONS"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let workflow of workflowList">
      <td class="overflow-hidden text-overflow-ellipsis">
        <span
          class="sortable-row"
          [innerText]="workflow.name | namePipe">
        </span>
      </td>
      <td class="overflow-hidden text-overflow-ellipsis">
        <span
          class="sortable-row text-monospace text-size-small"
          [innerText]="workflow.key">
        </span>
      </td>
      <td [innerText]="workflow.version | namePipe"></td>
      <td *ngIf="userPreferences.showAdminIds">
        <span
          class="sortable-row text-monospace text-size-small"
          [innerText]="prettyPrintId(workflow.id)">
        </span>
      </td>
      <td>
        <button
          type="button"
          class="btn btn-sm btn-outline-primary"
          [title]="commonMessages.EDIT"
          (click)="onEditButtonClicked(workflow)">
          <fa-icon [icon]="commonIcons.EDIT_ICON"></fa-icon>
        </button>
        <button
          type="button"
          class="btn btn-sm btn-outline-primary ml-2"
          [title]="messages.CLONE_WORKFLOW"
          (click)="onCloneButtonClicked(workflow)">
          <fa-icon [icon]="copyIcon"></fa-icon>
        </button>
        <button
          type="button"
          class="btn btn-sm btn-outline-danger ml-2"
          [title]="commonMessages.DELETE"
          (click)="onDeleteButtonClicked(workflow)">
          <fa-icon [icon]="commonIcons.DELETE_ICON"></fa-icon>
        </button>
      </td>
    </tr>
    </tbody>
    <tbody
      app-list-loader
      [data]="workflowList"
      [loading]="loading"
      [colspan]="colspan"
      [emptyMessage]="commonMessages.EMPTY_WORKFLOW_LIST">
    </tbody>
  </table>

  <ngb-pagination
    class="d-flex justify-content-end"
    size="sm"
    [collectionSize]="total"
    [pageSize]="getPageSize(pageSizeIndex)"
    [(page)]="page"
    [maxSize]="5"
    [rotate]="true"
    [boundaryLinks]="false"
    [directionLinks]="false"
    (pageChange)="requestWorkflowList()">
  </ngb-pagination>

</div>
