<!--
  ~ iparapheur Web
  ~ Copyright (C) 2019-2023 Libriciel SCOP
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU Affero General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU Affero General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License
  ~ along with this program. If not, see <http://www.gnu.org/licenses/>.
  -->

<div class="p-4">

  <app-breadcrumbs [forceReload]="tenantId"></app-breadcrumbs>

  <div
    class="h3 font-weight-bold"
    [innerHTML]="messages.FOLDER_MANAGEMENT">
  </div>

  <!-- Header -->

  <div class="mt-3 w-100 bg-white p-2 shadow-sm">
    <fa-icon
      class="pointer text-primary"
      [icon]="isCollapsed ? plusSquareIcon : minusSquareIcon"
      (click)="isCollapsed = !isCollapsed"
      [fixedWidth]="true">
    </fa-icon>
    <span
      class="font-weight-bold ml-2"
      [innerText]="messages.SEARCH">
    </span>
    <div
      class="w-100"
      [ngClass]="{'collapse': isCollapsed}">
      <div class="d-flex flex-row ls-form mt-2 w-100">
        <div class="w-100 p-2">
          <div class="form-group">
            <label
              for="type-selector"
              [innerText]="commonMessages.TYPE">
            </label>
            <app-type-selector
              id="type-selector"
              [mandatory]="false"
              [retrieveTypesFunction]="retrieveTypesAsAdminFn"
              [(type)]="selectedType"
              (typeChange)="onTypeSelectionChanged()">
            </app-type-selector>
          </div>
          <div class="form-group">
            <label
              for="subtype-selector"
              [innerText]="commonMessages.SUBTYPE">
            </label>
            <app-subtype-selector
              id="subtype-selector"
              [mandatory]="false"
              [retrieveSubtypesFunction]="retrieveSubtypesAsAdminFn"
              [tenantId]="tenantId"
              [type]="selectedType"
              [(subtype)]="selectedSubtype">
            </app-subtype-selector>
          </div>
        </div>

        <div class="w-100 p-2">
          <div class="form-group">
            <label
              for="still-since-date"
              [innerText]="commonMessages.DESK">
            </label>
            <app-desk-search-input
              [(desks)]="deskList"
              [multiple]="false"
              [clearable]="true"
              [genericValidatorsAvailable]="false"
              [retrieveDeskFunction]="retrieveDesksAsAdminFn">
            </app-desk-search-input>
          </div>
          <div class="form-group">
            <label
              for="title-search"
              [innerText]="messages.FOLDER_TITLE">
            </label>
            <app-search-bar
              *ngIf="showFolderSearchBar"
              id="title-search"
              (debouncedKeyup)="updateSearchTerm($event)"
              [placeholder]="messages.SEARCH_FOLDERS">
            </app-search-bar>
          </div>
        </div>

        <div class="w-100 p-2">
          <div class="form-group">
            <label for="emit-before-date">
              {{ messages.START_DATE_BEFORE }}
              <fa-icon
                class="pl-1"
                [icon]="commonIcons.TOOLTIP_ICON"
                [ngbTooltip]="messages.START_DATE_BEFORE_TOOLTIP"
                openDelay="300">
              </fa-icon>
            </label>
            <input
              id="emit-before-date"
              class="form-control"
              name="limit-date"
              type="date"
              [(ngModel)]="emitBefore">
          </div>
          <div class="form-group">
            <label for="still-since-date">
              {{ messages.STILL_SINCE }}
              <fa-icon
                class="pl-1"
                [icon]="commonIcons.TOOLTIP_ICON"
                [ngbTooltip]="messages.STILL_SINCE_TOOLTIP"
                openDelay="300">
              </fa-icon>
            </label>
            <input
              id="still-since-date"
              class="form-control"
              name="limit-date"
              type="date"
              [(ngModel)]="stillSince">
          </div>
          <div class="form-group">
            <label
              for="pending-filter"
              [innerText]="messages.PENDING_FILTER_LABEL">
            </label>
            <ng-select
              id="pending-filter"
              [clearable]="true"
              [(ngModel)]="stateFilter"
              [placeholder]="messages.PENDING_FILTER_PLACEHOLDER">
              <ng-option
                [value]="stateEnum.Pending"
                [innerText]="messages.ONLY_PENDING_LABEL">
              </ng-option>
              <ng-option
                [value]="stateEnum.Late"
                [innerText]="messages.ONLY_LATE_LABEL">
              </ng-option>
            </ng-select>
          </div>
        </div>
      </div>
      <div class="w-100 p-2 d-flex flex-row-reverse">
        <button
          ls-button
          class="mr-2"
          [text]="commonMessages.SEARCH"
          [icon]="commonIcons.SEARCH_ICON"
          (click)="refreshFolderList()">
        </button>
        <button
          ls-button
          class="mr-2"
          [text]="messages.RESET_SEARCH"
          [icon]="commonIcons.RE_INIT_ICON"
          [style]="styles.NEUTRAL"
          (click)="resetSearch()">
        </button>
      </div>
    </div>
  </div>

  <!-- List -->

  <div class="pt-3 d-flex">
    <span class="flex-grow-1"></span>
    <span
      class="p-1 px-2"
      [innerHTML]="commonMessages.PAGINATION_SIZE_LABEL">
    </span>
    <ngb-pagination
      size="sm"
      [collectionSize]="pageSizes.length"
      [(page)]="pageSizeIndex"
      [pageSize]="1"
      [rotate]="false"
      [boundaryLinks]="false"
      [directionLinks]="false"
      (pageChange)="refreshFolderList()">
      <ng-template ngbPaginationNumber let-p>{{ getPageSize(p) }}</ng-template>
    </ngb-pagination>
  </div>

  <table aria-label="admin folder list"
         class="bg-white mt-4 table table-fixed table-striped table-borderless border shadow-sm w-100 table-text-overflow">
    <thead class="border">
    <tr>
      <th
        *ngIf="userPreferences.showAdminIds"
        [innerText]="commonMessages.ID"
        class="th-sm col-id-fixed-size"
        scope="col">
      </th>
      <th
        [innerText]="commonMessages.NAME"
        class="th-sm"
        scope="col">
      </th>
      <th
        [innerText]="columnsEnum.CurrentDesk | columnNamePipe"
        class="th-sm"
        scope="col">
      </th>
      <th
        [innerText]="columnsEnum.CreationDate | columnNamePipe"
        class="th-sm col-date-medium-fixed-size"
        scope="col">
      </th>
      <th
        [innerText]="messages.LAST_MODIFICATION_DATE"
        class="th-sm col-date-medium-fixed-size"
        scope="col">
      </th>
      <th
        [innerText]="columnsEnum.Type | columnNamePipe"
        class="th-sm"
        scope="col">
      </th>
      <th
        [innerText]="columnsEnum.Subtype | columnNamePipe"
        class="th-sm"
        scope="col">
      </th>
      <th
        [innerText]="columnsEnum.State | columnNamePipe"
        class="th-sm"
        scope="col">
      </th>
      <th
        [innerText]="commonMessages.ACTIONS"
        class="th-sm col-action-fixed-size"
        scope="col">
      </th>
    </tr>
    </thead>
    <tbody
      app-list-loader
      [data]="folders"
      [loading]="loading"
      [colspan]="colspan"
      [emptyMessage]="commonMessages.EMPTY_FOLDER_LIST">
    </tbody>
    <tbody>
    <tr *ngFor="let folder of folders">
      <td
        *ngIf="userPreferences.showAdminIds"
        class="col-id-fixed-size text-monospace text-size-small"
        [innerText]="folder.id">
      </td>
      <td [innerText]="folder.name | namePipe"></td>
      <td>
        <div
          *ngFor="let desk of folder.stepList[0].desks"
          [innerText]="getCurrentDeskNameIfAppropriate(desk.id)">
        </div>
      </td>
      <td [innerText]="folder.draftCreationDate | date: 'short'"></td>
      <td [innerText]="folder.stepList[0].beginDate | date: 'short'"></td>
      <td [innerText]="folder.type?.name | namePipe"></td>
      <td [innerText]="folder.subtype?.name | namePipe"></td>
      <td [innerText]="folder.state | stateName :false"></td>
      <td class="d-flex">
        <button
          ls-button
          class="mr-2"
          [style]="styles.DANGER"
          [ngbTooltip]="actionsEnum.Delete | actionName"
          [icon]="actionsEnum.Delete | actionIcon"
          (click)="onDeleteButtonClicked(folder)">
        </button>
        <button
          ls-button
          class="mr-2"
          [style]="styles.NEUTRAL"
          [ngbTooltip]="secondaryActionsEnum.HistoryTasks | actionName"
          [icon]="secondaryActionsEnum.HistoryTasks | actionIcon"
          (click)="onHistoryButtonClicked(folder)">
        </button>
        <div
          [tooltipClass]="'big-tooltip'"
          container="body"
          [ngbTooltip]="isTransferAvailable(folder) ? (actionsEnum.Transfer | actionName) : disabledTransferTooltip">
          <button
            ls-button
            [disabled]="!isTransferAvailable(folder)"
            [icon]="actionsEnum.Transfer | actionIcon"
            (click)="transfer(folder)">
          </button>
        </div>
      </td>
    </tr>
    </tbody>
  </table>

  <ngb-pagination
    class="d-flex justify-content-end"
    size="sm"
    [collectionSize]="total"
    [pageSize]="getPageSize(pageSizeIndex)"
    [(page)]="page"
    [maxSize]="5"
    [rotate]="true"
    [boundaryLinks]="false"
    [directionLinks]="false"
    (pageChange)="refreshFolderList()">
  </ngb-pagination>

</div>

<ng-template #disabledTransferTooltip>
  <div
    class="tooltip-min-width d-flex flex-column text-left"
    [innerHTML]="messages.TRANSFER_DISABLED">
  </div>
</ng-template>
