<!--
  ~ iparapheur Web
  ~ Copyright (C) 2019-2023 Libriciel SCOP
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU Affero General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU Affero General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License
  ~ along with this program. If not, see <http://www.gnu.org/licenses/>.
  -->

<div class="p-4 h-100 bg-light">

  <app-breadcrumbs></app-breadcrumbs>

  <div
    class="h4 mt-4 font-weight-bold"
    [innerText]="messages.PAGE_TITLE">
  </div>

  <div
    class="h5 text-muted"
    [innerText]="messages.SELECT_A_DESK_MESSAGE">
  </div>

  <div class="text-dark h5 d-flex">
    {{messages.getThumbsOrFavoritesTitle(userPreferences?.favoriteDesks.length)}}
    <app-toggle-button
      [disableTooltip]="!disableDisplayMode"
      [ngbTooltip]="messages.DISABLED_DISPLAY_MODE_TOOLTIP"
      class="mx-2"
      [disabled]="disableDisplayMode"
      [boolean]="displayMode === DISPLAY_MODE_ENUM.LIST"
      (onChange)="changeDisplayMode()">
    </app-toggle-button>
    {{messages.DISPLAY_MODE_LIST}}
  </div>

  <div class="select-desks-top-line mb-4">

    <app-search-bar
      class="search-input"
      (debouncedKeyup)="updateSearchTerm($event)"
      [placeholder]="commonMessages.SEARCH_DESK">
    </app-search-bar>

    <div class="horizontal-spacer"></div>

    <div *ngIf="displayMode == DISPLAY_MODE_ENUM.LIST" class="pagination-block">
      <label
        class="display-mode-text"
        [innerText]="commonMessages.PAGINATION_SIZE_LABEL">
      </label>
      <ngb-pagination
        class="mb-2"
        size="sm"
        [collectionSize]="pageSizes.length"
        [(page)]="pageSizeIndex"
        [pageSize]="1"
        [rotate]="false"
        [boundaryLinks]="false"
        [directionLinks]="false"
        (pageChange)="updatePage()">
        <ng-template ngbPaginationNumber let-p>{{ getPageSize(p) }}</ng-template>
      </ngb-pagination>
    </div>
  </div>

  <div
    *ngIf="displayMode===DISPLAY_MODE_ENUM.LIST"
    class="d-flex flex-column flex-nowrap justify-content-center">

    <table aria-label="desk list" class="bg-white table table-striped table-borderless border shadow-sm table-text-overflow w-100">
      <thead class="border">
      <tr>
        <th scope="col" class="th-sm pointer" (click)="sort()">
          <fa-icon
            [fixedWidth]="true"
            [icon]="asc ? caretUp : caretDown">
          </fa-icon>
          {{commonMessages.NAME}}
        </th>
        <th
          scope="col"
          class="th-sm col-buttons-fixed-size col-buttons-5-buttons"
          [innerText]="commonMessages.FOLDER_TRAY">
        </th>
      </tr>
      </thead>
      <tbody>
      <ng-container *ngFor="let elem of flattenTreeStructure">
        <tr *ngIf="elem.expanded || !elem.isDesk">
          <td class="overflow-hidden text-overflow-ellipsis" (click)="expandOrCollapse(elem)">
            <fa-icon
              class="invisible left-padding"
              *ngIf="elem.isDesk"
              [fixedWidth]="true"
              [icon]="caretUp">
            </fa-icon>
            <fa-icon
              *ngIf="!elem.isDesk"
              [icon]="elem.expanded ? caretDownIcon : caretRightIcon"
              [ngbTooltip]="elem.expanded ? commonMessages.FOLD : commonMessages.EXPAND"
              [fixedWidth]="true"
              class="pointer">
            </fa-icon>
            {{ elem.name | namePipe }}
          </td>

          <ng-container *ngIf="elem.isDesk && elem.actualElement as desk">
            <td class="d-flex flex-sm-row align-self-end folder-count-badges pointer-badge-container">
              <ng-container *ngIf="deskCounts && getDeskCount(desk.id) as deskCount">
                <span
                  *ngIf="deskCount.lateFoldersCount > 0"
                  class="badge badge-late mx-1"
                  routerLink="/tenant/{{ desk.tenantId }}/desk/{{ desk.id }}"
                  [ngbTooltip]="stateEnum.Late | stateName"
                  openDelay="300"
                  [innerText]="deskCount.lateFoldersCount">
                </span>
                <span
                  *ngIf="deskCounts && deskCount.finishedFoldersCount > 0"
                  class="badge badge-finished mx-1"
                  routerLink="/tenant/{{ desk.tenantId }}/desk/{{ desk.id }}/finished"
                  [ngbTooltip]="stateEnum.Finished | stateName"
                  openDelay="300"
                  [innerText]="deskCount.finishedFoldersCount">
                </span>
                <span
                  *ngIf="deskCounts && deskCount.rejectedFoldersCount > 0"
                  class="badge badge-rejected mx-1"
                  routerLink="/tenant/{{ desk.tenantId }}/desk/{{ desk.id }}/rejected"
                  [ngbTooltip]="stateEnum.Rejected | stateName"
                  openDelay="300"
                  [innerText]="deskCount.rejectedFoldersCount">
                </span>
                <span
                  *ngIf="deskCounts && deskCount.draftFoldersCount > 0"
                  class="badge badge-draft mx-1"
                  routerLink="/tenant/{{ desk.tenantId }}/desk/{{ desk.id }}/draft"
                  [ngbTooltip]="stateEnum.Draft | stateName"
                  openDelay="300"
                  [innerText]="deskCount.draftFoldersCount">
                </span>
                <span
                  class="badge badge-pending mx-1"
                  routerLink="/tenant/{{ desk.tenantId }}/desk/{{ desk.id }}"
                  [ngbTooltip]="stateEnum.Current | stateName"
                  openDelay="300"
                  [innerText]="deskCount.pendingFoldersCount">
                </span>
                <span
                  *ngIf="deskCounts && computeDelegatedTotalFn(deskCount) > 0"
                  class="badge badge-delegated mx-1"
                  routerLink="/tenant/{{ desk.tenantId }}/desk/{{ desk.id }}/delegated"
                  [ngbTooltip]="stateEnum.Delegated | stateName"
                  openDelay="300"
                  [innerText]="computeDelegatedTotalFn(deskCount)">
                </span>
              </ng-container>
            </td>
          </ng-container>

          <ng-container *ngIf="!elem.isDesk">
            <td class="d-flex flex-sm-row flex-grow-1"></td>
          </ng-container>
        </tr>
      </ng-container>
      </tbody>
      <tbody
        app-list-loader
        [data]="desks"
        [loading]="loading"
        [colspan]="colspan"
        [emptyMessage]="commonMessages.EMPTY_DESK_LIST">
      </tbody>
    </table>

    <ngb-pagination
      class="d-flex justify-content-end"
      size="sm"
      [collectionSize]="computeTotal()"
      [pageSize]="pageSize"
      [(page)]="page"
      [maxSize]="5"
      [rotate]="true"
      [boundaryLinks]="false"
      [directionLinks]="false"
      (pageChange)="updatePage()">
    </ngb-pagination>
  </div>

  <ng-container *ngIf="displayMode === DISPLAY_MODE_ENUM.THUMBS">
    <div
      class="d-flex flex-row flex-nowrap justify-content-center"
      *ngFor="let deskChunk of (getThumbsDesks() | chunk : 5)">

      <div
        *ngFor="let desk of deskChunk"
        routerLink="/tenant/{{ desk.tenantId }}/desk/{{ desk.id }}/{{ getDefaultFilterRoutePath() }}"
        [state]="{filterId: userPreferences.currentFilter?.id}"
        class="p-2 pointer">

        <div class="d-flex flex-column justify-content-center border shadow-sm bg-white desk-layout">

          <div class="mt-3 m-2 d-flex justify-content-center folder-count-badges pointer-badge-container">
            <ng-container *ngIf="deskCounts && getDeskCount(desk.id) as deskCount">
              <div appClickStopPropagation>
                <span
                  *ngIf="deskCounts && deskCount.lateFoldersCount > 0"
                  [innerText]="deskCount.lateFoldersCount"
                  [ngbTooltip]="stateEnum.Late | stateName"
                  class="badge badge-late mx-1"
                  openDelay="300"
                  routerLink="/tenant/{{ desk.tenantId }}/desk/{{ desk.id }}/late">
                </span>
                <span
                  *ngIf="deskCounts && deskCount.finishedFoldersCount > 0"
                  [innerText]="deskCount.finishedFoldersCount"
                  [ngbTooltip]="stateEnum.Finished | stateName"
                  class="badge badge-finished mx-1"
                  openDelay="300"
                  routerLink="/tenant/{{ desk.tenantId }}/desk/{{ desk.id }}/finished">
                </span>
                <span
                  *ngIf="deskCounts && deskCount.rejectedFoldersCount > 0"
                  [innerText]="deskCount.rejectedFoldersCount"
                  [ngbTooltip]="stateEnum.Rejected | stateName"
                  class="badge badge-rejected mx-1"
                  openDelay="300"
                  routerLink="/tenant/{{ desk.tenantId }}/desk/{{ desk.id }}/rejected">
                </span>
                <span
                  *ngIf="deskCounts && deskCount.draftFoldersCount > 0"
                  [innerText]="deskCount?.draftFoldersCount"
                  [ngbTooltip]="stateEnum.Draft | stateName"
                  class="badge badge-draft mx-1"
                  openDelay="300"
                  routerLink="/tenant/{{ desk.tenantId }}/desk/{{ desk.id }}/draft">
                </span>
                <span
                  [innerText]="deskCount?.pendingFoldersCount || 0"
                  [ngbTooltip]="stateEnum.Current | stateName"
                  class="badge badge-pending mx-1"
                  openDelay="300"
                  routerLink="/tenant/{{ desk.tenantId }}/desk/{{ desk.id }}">
                </span>
                <span
                  *ngIf="deskCounts && computeDelegatedTotalFn(deskCount) > 0"
                  [innerText]="computeDelegatedTotalFn(deskCount)"
                  class="badge badge-delegated mx-1"
                  [ngbTooltip]="stateEnum.Delegated | stateName"
                  openDelay="300"
                  routerLink="/tenant/{{ desk.tenantId }}/desk/{{ desk.id }}/delegated">
                </span>
              </div>
            </ng-container>
          </div>

          <fa-icon
            class="fa-3x text-center"
            [icon]="deskIcon">
          </fa-icon>

          <a
            class="w-100 align-self-center text-center px-2 desk-text-container text-dark"
            [ngbTooltip]=" desk.name | namePipe"
            [openDelay]="300"
            [innerText]="desk.name | namePipe">
          </a>

        </div>
      </div>
    </div>
  </ng-container>

</div>
