<!--
  ~ iparapheur Web
  ~ Copyright (C) 2019-2023 Libriciel SCOP
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU Affero General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU Affero General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License
  ~ along with this program. If not, see <http://www.gnu.org/licenses/>.
  -->


<div class="ls-form">
  <div class="form-group">
    <label for="editPasswordInput"
           class="required"
           [innerText]="messages.NEW_PASSWORD_LABEL">
    </label>
    <div class="input-group">
      <input #passwordInput
             id="editPasswordInput"
             class="form-control pointer"
             [disabled]="isLdapSynchronized"
             [type]="hidePassword ? 'password' : 'text'"
             required/>
      <div class="input-group-append">
        <div class="input-group-text"
             (click)="hidePassword = !hidePassword">
          <fa-icon class="hide-password-button text-center pointer"
                   [icon]="hidePassword? eyeIcon : eyeSlashIcon"
                   [fixedWidth]="true">
          </fa-icon>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="editPasswordInputConfirmation"
           class="required"
           [innerText]="messages.CONFIRM_PASSWORD_LABEL">
    </label>
    <div class="input-group">
      <input #passwordConfirmationInput
             id="editPasswordInputConfirmation"
             class="form-control"
             [disabled]="isLdapSynchronized"
             [type]="hidePassword ? 'password' : 'text'"
             required/>
      <div class="input-group-append">
        <div class="input-group-text"
             (click)="hidePassword = !hidePassword">
          <fa-icon class="hide-password-button text-center"
                   [icon]="hidePassword? eyeIcon : eyeSlashIcon"
                   [fixedWidth]="true">
          </fa-icon>
        </div>
      </div>
    </div>
  </div>
</div>
